<%= @params %>
<h1>Team Name: <%= params[:team][:name] %></h1>
<h1>Team Motto: <%= params[:team][:motto] %></h1>
<h3>Hero Name: <%= params[:team][:members][:heros]["0"][:name] %></h3>
Hero Power: <%= params[:team][:members][:heros]["0"][:power] %><br>
Hero Bio: <%= params[:team][:members][:heros]["0"][:bio] %>
<br>
<h3>Hero 2 Name: <%= params[:team][:members][:heros]["1"][:name] %></h3>
Hero 2 Power: <%= params[:team][:members][:heros]["1"][:power] %><br>
Hero 2 Bio: <%= params[:team][:members][:heros]["1"][:bio] %>

<h3>Hero 3 Name: <%= params[:team][:members][:heros]["2"][:name] %></h3>
Hero 3 Power: <%= params[:team][:members][:heros]["2"][:power] %><br>
Hero 3 Bio: <%= params[:team][:members][:heros]["2"][:bio] %>
